* {
  margin: 0;
  box-sizing: 0;
}

h1 {
  text-align: center;
  padding: 30px;
}

main { 
  background-color: rgba(250, 250, 250, 0.863);
  height: 500px;
  display: flex;
  justify-content: center;
}

#tabela {
  display: flex;
}

#coluna1 {
  margin-top: 25px;
  height: 300px;
  width: 100px;
}

#coluna2 {
  margin-top: 25px;
  height: 300px;
  width: 100px;
}

#coluna3 {
  margin-top: 25px;
  height: 300px;
  width: 100px;
}

.coluna1 {
  height: 98px;
}

.coluna2 {
  height: 98px;
}

.coluna3 {
  height: 98px;
}

#linha1-2 {
  border-block: 1px solid black;
}

#linha2-2 {
  border-block: 1px solid black;
}

#linha3-2 {
  border-block: 1px solid black;
}

.activeO{
  background-color: white;
}

.activeX{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
  font-size: 500%;
}