@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  box-sizing: 0;
  transition: 400ms;
}

h1 {
  text-align: center;
  padding: 1rem;
  color: rgba(255, 250, 254, 0.925);
  background-color: teal;
  border-radius: 1rem;
  margin-top: 0;
}

body {
  display: flex;
  justify-content: center;
  align-self:center;
  align-content: center;
  padding: 1rem;
  background-color: rgba(99, 3, 99, 0.959);
}

main { 
  background-color: rgba(255, 250, 254, 0.925);
  color: rgba(255, 250, 254, 0.925);
  height: 90vh;
  width: 90vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  font-family: 'Poppins', sans-serif;
  border: solid 0 5px 0 5px rgba(0, 0, 0, 0.384);
  border-radius: 1rem;
  outline-style: groove 1px;
  outline-color: thistle 1px;
}

#tabela {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
}

#coluna1 {
  margin-top:2rem;
  height: 32vh;
  width:  6rem;
}

#coluna2 {
  margin-top: 2rem;
  height: 30vh;
  width:  6rem;
  border-inline: 1px solid black;
}

#coluna3 {
  margin-top: 2rem;
  height: 32vh;
  width: 6rem;
}

.bloco{
  height: 10vh;
}

#a-2 {
  border-block: 1px solid black;
}

#b-2 {
  border-block: 1px solid black;
}

#c-2 {
  border-block: 1px solid black;
}

.activeO {
  color: teal;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
  font-size: 5rem;
  padding: 0.5rem;
}

.activeX {
  color: rgba(255, 115, 0, 0.932);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: center;
  font-size: 5rem;
  padding: 0.5rem;
  transition: 400ms;
}

.placar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: black;
  background-color: rgba(241, 118, 16, 0.664);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.alert {
  color: rgb(107, 4, 4);
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem;
}

.alert-red{
  background-color: rgba(255, 142, 122, 0.753);
  border-radius: 1rem;
}

.win {
  color: rgba(255, 250, 254, 0.925);
  text-align: center;
  font-weight: 500;
  outline: lightpink;
  padding: 1rem;

}

.winner{
  background-color: rgba(126, 255, 122, 0.788);
  border-radius: 1rem;
  color:rgb(3, 82, 3);
  text-align: center;
  font-weight: 500;
  outline: lightpink;
  padding: 1rem;
}